body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

.nav-button {
    background-color: #000000; /* Button background color */
    color: black; /* Button text color */
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.5s; /* Smooth transition */
    border: 2px solid transparent;
}

.nav-button:hover {
    background-color: #E2C9F5; /* Button color on hover */
    border-color: #E2C9F5;
}
