 body, main, html {width: 100%; height: 100%; margin: 0; padding: 0}
 h3{font-size: 20px; font-family: sans-serif;}
 h2{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: normal;
}

/*BACKGROUND IMAGE/HEADER SECTION */
.background-img h1 {
    color: white;
    font-size: 95px;
    text-shadow: 0 0 20px #000; /*font border*/
    }
.background-img h2 {
    color: white;
    font-size: 70px;
    text-shadow: 0 0 20px #000; /*font border*/
    }

.background-img {
    background: url("https://today.ucsd.edu/news_uploads/img-primary-Geisel-UCSanDiego-ErikJepsen-090922.jpg");
    background-position: center 80%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px; /* fill screen up to certain point*/ 
    width: 100%;
    padding-top: 275px;
  }
/*ABOUT ME SECTION */
.about-me .about-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.about-me .about-inner .pfp{
    max-height: 350px;
    max-width: 350px;
}

.about-me .about-inner .pfp .pfp-img{
    clip-path: circle(43%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-me .about-inner .bio{
    transform: translate(10px, 0px);
    padding-top: 3.5%;
    max-width: 40%;
    text-align: center;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 25px;
}

/*Hello! My name is Suhani Sharma and I am a current Data 
Science major at UC San Diego. I first started programming 
in high school and have always been passionate about 
the capabilities of software engineering. I am 
interested in data storytelling and machine learning and 
AI development. */

/*PROFESSIONAL EXPEREINCE SECTION*/

/*I spent a lot of time in office hours, especially in my first two quarters 
and found not only support from my peers but also a community. These 
experiences inspired me to tutor as well. Tutoring for the has been an 
incredibly enriching experience that has allowed me to share knowledge and 
passions with others as well as learn from my colleagues. My responsibilities 
included hosting weekly office hours both in group settings and one-on-one 
with students, answering student questions on online forums, aiding professors 
in creating and grading assignments such as homework, labs, and projects for 
DSC 10: Principles of Data Science.*/

.prof-exp .prof-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.prof-exp .prof-inner .hdsi {
    max-height: 550px;
    max-width: 550px;
}

.prof-exp .prof-inner .hdsi .hdsi-img {
    clip-path: circle(27%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prof-exp .prof-inner .tutor {
    transform: translate(-5px, 0px);
    padding-top: 3.5%;
    max-width: 50%;
    text-align: center;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 20px;
}

.prof-exp .prof-inner .tutor span{
    color: #4e32a8;
    font-size: 20px;
    font-weight: bold;
}

.prof-exp .prof-inner .tutor h3{
    font-size: 22px;
}

/*PROJECTS SECTION*/
.proj .proj-teams {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
}

.proj .proj-teams .team{
    max-width: 350px;
    display: block;
    margin: 5%;
} 

.proj .proj-teams .team img{
    clip-path: circle(37%);
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.proj .proj-teams .team h4, p{
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.proj .proj-teams .team h4{
    font-family: sans-serif;
    font-size: 22px;
}

.proj .proj-teams .team p{
    font-weight: normal;
    font-size: 20px;
}





